.score-button {
  height: 2rem;
  width: 40%;
  border-radius: .5rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.increment {
  background-color: orange;
}

.decrement {
  background-color: pink;
}

.reset {
  background-color: red;
}

.scorecard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

span {
  color: white;
}