html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#game-container {
  display: flex;
  height: 100%;
  width: 100%;
}

#player {
  height: 100%;
  width: 50%;
}

#dealer {
  height: 100%;
  width: 50%;
}